

  <!-- ============================================================= SECTION – HERO ============================================================= -->

  <section id="hero">
    <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">

      <div class="item" style="background-image: url(images/art/01.jpg);">
        <div class="container">
          <div class="caption vertical-center text-center">

           
            <div class="fadeInDown-2">
               <h1 class="fadeInDown-1 dark-color">SKETCHES IN LIGHT</h1>
            </div><!-- /.fadeIn -->

          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(images/art/02.jpg);">
        <div class="container">
         
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(images/art/03.jpg);">
        <div class="container">
          
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(images/art/04.jpg);">
        <div class="container">
         
        </div><!-- /.container -->
      </div><!-- /.item -->

      <div class="item" style="background-image: url(images/art/05.jpg);">
        <div class="container">
         
        </div><!-- /.container -->
      </div><!-- /.item -->

    </div><!-- /.owl-carousel -->
  </section>

  <!-- ============================================================= SECTION – HERO : END ============================================================= -->


  <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

  <section id="who-we-are">
    <div class="container inner-top inner-bottom-sm">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Beautiful. Clean. Responsive.</h1>
            <p>addictionweddings is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row inner-top-sm">

        <div class="col-md-1">
          <div class="icon pull-right">
            <i class="icon-heart-empty-1 icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs">
          <h2>Passion</h2>
          <p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
        </div><!-- /.col -->

        <div class="col-md-1">
          <div class="icon pull-right">
            <i class="icon-lamp icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs">
          <h2>Creativity</h2>
          <p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
        </div><!-- /.col -->

        <div class="col-md-1">
          <div class="icon pull-right">
            <i class="icon-star-empty-1 icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs">
          <h2>Quality</h2>
          <p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->


  <!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->

  <section id="latest-works" class="light-bg">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Check out our latest works</h1>
            <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">

        <div class="col-sm-6 inner-top-sm">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="images/latestwrk/13.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h3><a href="portfolio-post.html">Grand Motel gets an identity brushup</a></h3>
                <p>Identity</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-sm">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="portfolio-post.html"><img src="images/latestwrk/12.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h3><a href="portfolio-post.html">Fresh branding for a creative startup</a></h3>
                <p>Identity</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </div><!-- /.col -->

      </div><!-- /.row -->

      <div class="row inner-top-sm">
        <div id="owl-latest-works" class="owl-carousel owl-item-gap">

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Vintage Bicycles</h4>
                    <p>Interactive</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="images/latestwrk/01.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Simpli Nota</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="images/latestwrk/04.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Vinyl Records</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="images/latestwrk/05.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Astor & Yancy</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="images/latestwrk/11.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Signwall</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="images/latestwrk/07.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Tri Fold Brochure</h4>
                    <p>Print</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="images/latestwrk/08.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>Embroidered</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="images/latestwrk/06.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

          <div class="item">
            <a href="portfolio-post.html">
              <figure>
                <figcaption class="text-overlay">
                  <div class="info">
                    <h4>El Corcho</h4>
                    <p>Identity</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="images/latestwrk/10.jpg" alt="">
              </figure>
            </a>
          </div><!-- /.item -->

        </div><!-- /.owl-carousel -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->


  <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

  
  <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
