<!-- ============================================================= SECTION – HERO ============================================================= -->
<section id="hero" style="min-height:650px">
    <div  data-owl-carousel="" data-options="homeSliderOptions"  id="owl-main" class="owl-carousel owl-main height-lg owl-inner-nav owl-ui-lg inner-bottom" data-options="">
      <div owl-carousel-item=""  ng-repeat="item in homeSlider" style="background-image: url({{item.content.src | changepxl:1200}});" class="item">
        <div class="container">
          <div class="caption vertical-center text-center">
            <div class="fadeInDown-2">
               <h1 class="fadeInDown-1 dark-color"> </h1>
            </div><!-- /.fadeIn -->
          </div><!-- /.caption -->
        </div><!-- /.container -->
</section>
<section id="her">
    <div id="owl-main1" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
      <div class="item" style="background-image: url(images/art/01.jpg);">
	{{items.name}}
        <div class="container">
          <div class="caption vertical-center text-center">
            <div class="fadeInDown-2">
               <h1 class="fadeInDown-1 dark-color">SKETCHES IN LIGHT {{items.name}} </h1>
            </div><!-- /.fadeIn -->
          </div><!-- /.caption -->
        </div><!-- /.container -->
      </div><!-- /.item -->
      <div class="item" style="background-image: url(images/art/02.jpg);">
        <div class="container">
        </div>
      </div>
      <div class="item" style="background-image: url(images/art/03.jpg);">
        <div class="container">
        </div>
      </div>
      <div class="item" style="background-image: url(images/art/04.jpg);">
        <div class="container">
        </div>
      </div>
      <div class="item" style="background-image: url(images/art/05.jpg);">
        <div class="container">
        </div>
      </div>
    </div><!-- /.owl-carousel -->
  </section>

  <!-- ============================================================= SECTION – HERO : END ============================================================= -->


  <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
  <section id="about" class="dark-bg  img-bg-softer animte" style="background-image: url(images/art/pattern-background01.jpg);">
    <div class="container inner-top inner-bottom-sm">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Wedding Photography</h1>
            <p>Addictionweddings is a professional photography team in Kerala we are creating behind the scenes memories that will last a lifetime. be always sketch its absolute best.</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row inner-top-sm">

        <div class="col-md-1">
          <div class="icon pull-right">
            <i class="icon-heart-empty-1 icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs wayfect">
          <h2>Passion</h2>

        </div><!-- /.col -->

        <div class="col-md-1 wayfect">
          <div class="icon pull-right">
            <i class="icon-lamp icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs wayfect">
          <h2>Creativity</h2>

        </div><!-- /.col -->

        <div class="col-md-1">
          <div class="icon pull-right">
            <i class="icon-star-empty-1 icn"></i>
          </div><!-- /.icon -->
        </div><!-- /.col -->

        <div class="col-md-3 inner-bottom-xs wayfect">
          <h2>Quality</h2>

        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
  <!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

  <section id="portfolio" class="light-bg  img-bg-softer animte" style="background-image: url(images/logobgblack.jpg);">
    <div class="container inner-top inner-bottom-sm">
      <div class="row">
        <div class="col-sm-12 portfolio wayfect" onload="commonInit()">

          <ul class="filter text-center">
            <li><a href="portfolio.html#" data-filter="*" class="active">All</a></li>
            <li><a href="portfolio.html#" data-filter=".identity">Fasion</a></li>
            <li><a href="portfolio.html#" data-filter=".interactive">LifeStyle</a></li>
            <li><a href="portfolio.html#" data-filter=".print">Classic</a></li>
            <li><a href="portfolio.html#" data-filter=".photography">Photography</a></li>
          </ul><!-- /.filter -->

          <ul class="items col-3">

            <li class="item thumb interactive">
              <a href="index.html#/protfolio">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Appscreen Dashboard</h4>
                      <p>Interactive</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/01.jpg" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb identity">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Grand Motel</h4>
                      <p>Identity</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/02.JPG" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb identity">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Signwall</h4>
                      <p>Identity</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/03.jpg" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb print">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Modern CD Case</h4>
                      <p>Print</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/04.jpg" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb identity">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Astor & Yancy</h4>
                      <p>Identity</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/05.jpg" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb photography">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Daydreaming</h4>
                      <p>Photography</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/06.jpg" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb identity">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Brand Stationery</h4>
                      <p>Identity</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/07.JPG" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb print">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Tri Fold Brochure</h4>
                      <p>Print</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/08.jpg" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb interactive">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Vintage Bicycles</h4>
                      <p>Interactive</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/09.JPG" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb print">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Electric Dance Book Cover</h4>
                      <p>Print</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/10.jpg" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb identity">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Embroidered</h4>
                      <p>Identity</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/11.JPG" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb identity print">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Brand Stationery</h4>
                      <p>Identity/Print</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/12.JPG" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb identity">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Handmade Wood Gifts</h4>
                      <p>Identity</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/13.jpg" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb identity">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Designer Brand</h4>
                      <p>Identity</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/14.JPG" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

            <li class="item thumb print">
              <a href="">
                <figure>
                  <figcaption class="text-overlay hidden">
                    <div class="info">
                      <h4>Vinyl Records</h4>
                      <p>Print</p>
                    </div><!-- /.info -->
                  </figcaption>
                  <img src="images/portfolio/15.JPG" alt="">
                </figure>
              </a>
            </li><!-- /.item -->

          </ul><!-- /.items -->

        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>
  <!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->



  <!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->
  <section id="latest-works" class="light-bg animte">
  <div class="container col-sm-12 inner-bottom-sm">
      <div class="row inner-top-sm">
        <div id="owl-latest-works1" data-owl-carouselnormal="" data-options="latestSliderOptions" class="owl-carousel owl-item-gap">

          <div class="item" owl-carousel-item="" ng-repeat="item in latestSlider">
            <a href="">
              <figure>
                <figcaption class="text-overlay hidden">
                  <div class="info">
                    <h4>Vintage Bicycles</h4>
                    <p>Interactive</p>
                  </div><!-- /.info -->
                </figcaption>
                <img src="{{item.content.src}}" alt="">
              </figure>
            </a>
          </div><!-- /.item -->





        </div><!-- /.owl-carousel -->
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->




  <!-- ============================================================= SECTION – MORE VIDEOS ============================================================= -->

  <section id="more-videos" class="animte">
    <div class="container inner-top-md" >
      <div class="row">
        <div class="col-sm-12"  id="videos" >
          <div id="accordion" class="panel-group">
            <div class="panel panel-default">

              <div class="panel-heading text-center">
                <h4 class="panel-title">
                  <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="portfolio-post5.html#content">
                    <span>More videos</span>
                  </a>
                </h4>
              </div><!-- /.panel-heading -->

              <div id="content" class="panel-collapse collapse">
                <div class="panel-body">
                  <div id="owl-videos" class="owl-carousel owl-item-gap">



                    <div class="item">
                      <figure>

                        <div class="icon-overlay icn-link">
                          <a onclick="">
                                <iframe src="http://www.youtube.com/embed/U8mXZfFkKg4" width="194" height="133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                          </a>
                        </div><!-- /.icon-overlay -->

                        <figcaption class="bordered no-top-border hidden hidden">
                          <div class="info">
                            <h4><a href="portfolio-post5.html">Modern CD Case</a></h4>
                            <p>Print</p>
                          </div><!-- /.info -->
                        </figcaption>

                      </figure>
                    </div><!-- /.item -->

                    <div class="item">
                      <figure>

                        <div class="icon-overlay icn-link">
                          <a onclick="">
                                <iframe src="http://www.youtube.com/embed/_pb89fUMZGg" width="194" height="133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                          </a>
                        </div><!-- /.icon-overlay -->

                        <figcaption class="bordered no-top-border hidden hidden">
                          <div class="info">
                            <h4><a href="portfolio-post5.html">Modern CD Case</a></h4>
                            <p>Print</p>
                          </div><!-- /.info -->
                        </figcaption>

                      </figure>
                    </div><!-- /.item -->

                    <div class="item">
                      <figure>

                        <div class="icon-overlay icn-link">
                          <a onclick="">
                                <iframe src="http://www.youtube.com/embed/aOWf869u5Ak" width="194" height="133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                          </a>
                        </div><!-- /.icon-overlay -->

                        <figcaption class="bordered no-top-border hidden hidden">
                          <div class="info">
                            <h4><a href="portfolio-post5.html">Modern CD Case</a></h4>
                            <p>Print</p>
                          </div><!-- /.info -->
                        </figcaption>

                      </figure>
                    </div><!-- /.item -->

                    <div class="item">
                      <figure>

                        <div class="icon-overlay icn-link">
                          <a onclick="">
                                <iframe src="http://www.youtube.com/embed/_rBxhgaCDIw" width="194" height="133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                          </a>
                        </div><!-- /.icon-overlay -->

                        <figcaption class="bordered no-top-border hidden hidden">
                          <div class="info">
                            <h4><a href="portfolio-post5.html">Modern CD Case</a></h4>
                            <p>Print</p>
                          </div><!-- /.info -->
                        </figcaption>

                      </figure>
                    </div><!-- /.item -->

                    <div class="item">
                      <figure>

                        <div class="icon-overlay icn-link">
                          <a onclick="">
                                <iframe src="http://www.youtube.com/embed/_pb89fUMZGg" width="194" height="133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                          </a>
                        </div><!-- /.icon-overlay -->

                        <figcaption class="bordered no-top-border hidden hidden">
                          <div class="info">
                            <h4><a href="portfolio-post5.html">Modern CD Case</a></h4>
                            <p>Print</p>
                          </div><!-- /.info -->
                        </figcaption>

                      </figure>
                    </div><!-- /.item -->

                    <div class="item">
                      <figure>

                        <div class="icon-overlay icn-link">
                          <a onclick="">
                                <iframe src="http://www.youtube.com/embed/rdoVdFFumJA" width="194" height="133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                          </a>
                        </div><!-- /.icon-overlay -->

                        <figcaption class="bordered no-top-border hidden">
                          <div class="info">
                            <h4><a href="portfolio-post5.html">Modern CD Case</a></h4>
                            <p>Print</p>
                          </div><!-- /.info -->
                        </figcaption>

                      </figure>
                    </div><!-- /.item -->





                  </div><!-- /.owl-carousel -->
                </div><!-- /.panel-body -->
              </div><!-- /.content -->

            </div><!-- /.panel -->
          </div><!-- /.accordion -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – MORE VIDEOS : END ============================================================= -->


  <!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->

  <section id="portfolio-post" class="animte">
    <div class="container inner-top-xs inner-bottom">

  <!--  <div class="row">
        <div class="col-sm-12">
          <div class="video-container">
            <iframe src="http://www.youtube.com/embed/h4io7NWX4Qo" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>-->

      <div class="row inner-top-xs reset-xs">

        <div class="col-sm-7 inner-top-xs inner-right-xs">
          <div class="video-container">
            <iframe id="videoFrame" src="http://www.youtube.com/embed/h4io7NWX4Qo" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div><!-- /.col -->

        <div class="col-sm-4 col-sm-offset-1 outer-top-xs inner-left-xs border-left">
          <ul class="item-details">
            <li class="date">June 12, 2014</li>
            <li class="categories">Wedding Highlights {{videoSelected.vid}}</li>
            <li class="client">Wedding company</li>
            <li class="url"><a href="">addictionweddings</a></li>
          </ul><!-- /.item-details -->
        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->

  </section>

  <!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->



  <!-- ============================================================= SECTION – HERO ============================================================= -->

  <section id="contact" class="dark-bg img-bg img-bg-softer animte" style="background-image: url(images/logoblack.png);">
    <div class="container inner-top-md inner-bottom-sm">
      <div class="row">

        <div class="col-md-8 inner-right inner-bottom-xs wayfect">
          <header>
            <h1>Get in touch</h1>
            <p>Do you want to know more? We’d love to hear from you!</p>
          </header>
        </div><!-- /.col -->

        <div class="col-md-4">
          <h3 style="margin-top: 8px;">ADDICTION WEDDINGS</h3>
          <ul class="contacts">

            <li><i class="icon-mobile contact"></i> +91 963-312-4987</li>
            <li><a href="mailto:info@addictionweddings.com"><i class="icon-mail-1 contact"></i> info@addictionweddings.com</a></li>
          </ul><!-- /.contacts -->
        </div><!-- /.col -->

      </div><!-- ./row -->
    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – HERO : END ============================================================= -->


  <!-- ============================================================= SECTION – SHARE ============================================================= -->

  <section id="share" class="light-bg animte">
    <div class="container">

      <div class="col-sm-4 reset-padding" when-visible="animateElementIn"
        when-not-visible="animateElementOut" >
        <a href="portfolio.html#" class="btn-share-md">
          <p class="name">Facebook</p>
          <i class="icon-s-facebook"></i>
          <p class="counter">1080</p>
        </a>
      </div><!-- /.col -->

      <div class="col-sm-4 reset-padding" when-visible="animateElementIn"
        when-not-visible="animateElementOut" >
        <a href="portfolio.html#" class="btn-share-md">
          <p class="name">Twitter</p>
          <i class="icon-s-twitter"></i>
          <p class="counter">1263</p>
        </a>
      </div><!-- /.col -->

      <div class="col-sm-4 reset-padding" when-visible="animateElementIn"
        when-not-visible="animateElementOut" >
        <a href="portfolio.html#" class="btn-share-md">
          <p class="name">Google +</p>
          <i class="icon-s-gplus"></i>
          <p class="counter">963</p>
        </a>
      </div><!-- /.col -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – SHARE : END ============================================================= -->
