
<main>


    <section  class="light-bg">
      <div class="container">
              <div class="row">
                <div class="col-md-4 col-sm-6 center-block text-center">
                  <figure class="post-media">
                    <a href="blog-post.html"><span class="icn-more"></span><img width="50%" src="images/logoblacktrue.png" alt=""></a>
                  </figure>
              </div><!-- /.col -->
              <div class="col-sm-10 center-block text-center">
							<header>
								<h1>digital creatives</h1>
							</header>
						</div>
            </div><!-- /.row -->
        </div>
      </section>

  <!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

  <section  class="light-bg">
    <div class="container inner-bottom">
  					<div class="row">
  						<div class="col-sm-12 ">
                <figure class="post-media col-3">
                  <a href="blog-post.html"><span class="icn-more"></span><img src="assets/images/art/work09.jpg" alt=""></a>
                </figure>
  					</div><!-- /.col -->
  				</div><!-- /.row -->
  		</div>
    </section>

    <section  class="light-bg">
      <div class="container inner-bottom">
              <div class="row">
                <div class="col-sm-12 ">
                  <figure class="post-media col-3">
                    <a href="blog-post.html"><span class="icn-more"></span><img src="assets/images/art/work09.jpg" alt=""></a>
                  </figure>


              </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
      </section>

      <section  class="light-bg">
        <div class="container inner-bottom">
                <div class="row">
                  <div class="col-sm-12 ">
                    <figure class="post-media col-3">
                      <a href="blog-post.html"><span class="icn-more"></span><img src="assets/images/art/work09.jpg" alt=""></a>
                    </figure>


                </div><!-- /.col -->
              </div><!-- /.row -->
          </div>
        </section>

  <!-- ============================================================= SECTION – SHARE : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
